<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995070684026-bfub7d9nqncpo353pbkgr17pem9p99oa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995070684026-bfub7d9nqncpo353pbkgr17pem9p99oa</string>
	<key>API_KEY</key>
	<string>AIzaSyBr5inyuOiZVF95poo1nGMhRC2b1xU4IBY</string>
	<key>GCM_SENDER_ID</key>
	<string>995070684026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoWallet</string>
	<key>PROJECT_ID</key>
	<string>crypto-wallet-9311d</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-wallet-9311d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995070684026:ios:61c5e2cda14549016104c3</string>
</dict>
</plist>